// Idee: Hier padding für bottom auf 0 setzen und eine neue klasse hinzufügen für cite oder span, welche padding nach oben 0 hat, nach unten jedoch 1.
pre {
  padding: 1rem;
  overflow: auto;
  margin: 0.5em 0;
  font-family: $code-font;
  font-size: 16px;
  line-height: 20px;
}

pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  vertical-align: top;
  user-select: none;
}

pre mark {
  display: block;
  background-color: $shamrock-green;//$yellow ; //rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}
