.circle {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.align-left {
  @include clearfix();
  float: left;
  margin-right: 1.5em;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  @include clearfix();
  float: right;
  margin-left: 1.5em;
}

.notice {
  color: rgba($gray, 1);
}
.info {
  color: rgba($aqua, 1);
}
.success {
  color: rgba($shamrock-green, 1);
}
.warning {
  color: rgba($yellow, 1);
}
.danger {
  color: rgba($red, 1);
}

.social-btn {
  color: rgba($aqua, 1);
}

.btn {
  display: inline-block;
  padding: 0.4rem 0.7rem;
  margin: 0 auto 0.4rem 0;
  overflow: clip;
  width: 15rem;
  border: 2px solid black;
  border-radius: 9px;
  font-size: 0.7rem;
  font-weight: 400;
  background-color: darken($white, 7%);
  color: $dark-blue;
  text-align: center;
  white-space: wrap;
  vertical-align: middle;
  cursor: pointer;
  //transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    color: $overlay-color-dark;
      text-shadow:
        1px 1px 1pt $dark-blue;
    box-shadow:
      0rem 0.2rem 0.25rem lighten($gray,30%);
  }
  &_info {
    background-color: $aqua;
    &:hover {
      background-color: darken($aqua, 10%);
    }
  }
  &_warning {
    background-color: $yellow;
    &:hover {
      background-color: darken($yellow, 10%);
    }
  }
  &_success{
    background-color: $green;
    &:hover {
      background-color: darken($green, 10%);
    }
  }
  &_danger {
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: lighten($black, 30%);
    color: $overlay-color-dark;
    text-shadow:
      1px 1px 1pt $dark-blue;
    &:hover {
      color: $dark-blue;
      text-shadow:
        1px 1px 1pt $overlay-color-dark;
      box-shadow:
        -0.3rem -0.3rem 0.4rem lighten($gray,20%),
        0 0.3rem 0.4rem lighten($gray,20%),
        0.3rem 0 0.4rem lighten($gray,20%), 
        0.3rem 0.3rem 0.4rem lighten($gray,20%);
    }
    &_info {
      background-color: darken($aqua, 10%);
      &:hover {
        background-color: $aqua;
      }
    }
    &_warning {
      background-color: darken($yellow, 10%);
      &:hover {
        background-color: $yellow;
      }
    }
    &_success{
      background-color: darken($green, 15%);
      &:hover {
        background-color: $green;
      }
    }
    &_danger {
      background-color: darken($red, 10%);
      &:hover {
        background-color: $red;
      }
    }
  }
}

@mixin notice($notice-color) {
  font-size: 1rem;
  padding: 3%;//0.65rem;
  margin: 0.6rem 0;
  text-indent: initial;
  background-color: mix(#ddd, $notice-color, 73%);
  border-radius: 0;
  box-shadow: none;//0.2rem 0.2rem 0.5rem lighten($gray,10%);//0 1px 1px rgba($notice-color, 0.25);
  @media (prefers-color-scheme: dark) {
    background-color: mix(#333, $notice-color, 65%);
  }
  h4 {
    margin: 0.5em 0;
  }
  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }
  code {
    background-color: mix(#fff, $notice-color, 73%);
    @media (prefers-color-scheme: dark) {
      background-color: mix(#111, $notice-color, 65%);
    }
  }
  ul {
    &:last-child {
      margin-bottom: 0; 
    }
  }
}

.notice {
  @media (prefers-color-scheme: light) {
    @include notice(darken($white, 30%));
  }
  @media (prefers-color-scheme: dark) {
    @include notice(lighten($black, 40%));
  }
  &_info {
    @include notice($aqua);
  }
  &_warning {
    @include notice($yellow);
  }
  &_success {
    @include notice($green);
  }
  &_danger {
    @include notice($red);
  }
}
