//$white: #d8d8d8;
$white: #ffffff;
//$blue: #0071bc;
$black: #000000;
$dark-blue: #111113;
$gray: #92b7d6;
//$gray: #d4d4d4;
$overlay-color: #2c2d33;
$overlay-color-dark: #e6edf3;
$overlay-color-notsodark: #f2f8fd;
$green: #72cc96;
$shamrock-green: #399f62;

$red: #ee5f5b;
$blue: #19b5fe;
$yellow: #f89406;
$aqua: #7fdbff;

$base-font: "EnvyCodeR", sans-serif; //"Press Start 2P", sans-serif;
$caps-font: "Pixeboy", sans-serif;//"Press Start 2P", sans-serif;//"Pixeboy", sans-serif;
$code-font: "CascadiaCode", monospace;

$small: 750px;
