{%- macro main_images_style(home_url, posts_url) -%}
#posts .block-left{background:linear-gradient(30deg,rgba(255,0,0,0.2),rgba(0,255,128,0.2)),url("{{ posts_url | safe }}") no-repeat;background-size:contain;background-position:center;background-color: #1a1a1a;}.block-left{background:linear-gradient(30deg,rgba(0,255,128,0.2),rgba(255,0,0,0.2)),url("{{ home_url | safe }}") no-repeat;background-size:cover;background-position:center;}
{%- endmacro main_images_style -%}

{%- macro image_style(url) -%}
#posts.inner-post-page .block-left{background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("{{ url | safe }}") no-repeat;background-position:center;background-size:cover;}
{%- endmacro image_style -%}

{%- macro music(artist, track) -%}
{%- set api_key = get_env(name="LASTFM_KEY", default="nokey") %}
{%- if api_key != "nokey" %}
  {% set data_url = "https://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key=" ~ api_key ~ "&artist=" ~ artist ~ "&track=" ~ track ~ "&format=json&autocorrect=1" %}
  {% set track_info = load_data(url=data_url, format="json", headers=['User-Agent=config.title ~ " site"'], required=true) %}
  {% set artist = "<a href=" ~ track_info.track.artist.url ~ ">" ~ track_info["track"]["artist"]["name"] ~ "</a>" %}
  {% set track = "<a href=" ~ track_info.track.url ~ ">" ~ track_info["track"]["name"] ~ "</a>" %}
{% endif %}
<div class="post-music">
  <p>{{ artist | safe }} — {{ track | safe }}</p>
</div>
{%- endmacro track -%}
