{% extends "base.html" %}

{% block right %}
    <div class="inner-post content">
      {% block date %}{{ super() }}{% endblock date%}
      <div>
        <h2 class="entry-title"><a href="{{ "/" ~ taxonomy.name ~ "/" ~ term.name ~ "/" | safe }}">#</a>{{ term.name | safe}}</h2>
        {%- for year, posts in term.pages | group_by(attribute="year") %}
          <h4>> {{ year }} <</h4>
          <ul>
          {%- for page in posts %}
            <li class="entry-info"><a href="{{ page.path | safe }}">{{ page.title | safe }}</a> <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></li>
          {%- endfor %}
          </ul>
        {%- endfor %}
      </div>
    </div>
{% endblock right %}
